.project
.pydevproject
*.pyc
*.pyo
*.sqlite3
.DS_Store
.settings/org.eclipse.core.resources.prefs
test.py
static/css/bootstrap.css
static/css/bootstrap-theme.css
static/js/bootstrap.js
static/blog/css/fullcalendar.css
static/blog/js/fullcalendar.js
