{% extends "blog_base.html" %} {% block custom_style %}
<link rel='stylesheet' href='/static/css/jquery-ui.min.css' />
<link rel="stylesheet" href="/static/css/font-awesome.css" />
<link rel="stylesheet" href="/static/css/fullcalendar.min.css" />
<link rel="stylesheet" href="/static/css/notes.css" />
<style>

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 20px;
}

/* #calendar {
	max-width: 900px;
	margin: 20px auto;
	padding: 0 10px;
} */
</style>
{% endblock %} {% block content %} {% verbatim %}
<div class="container" ng-controller="noteController">

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i></i>{{pageTitle}}
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-7">
							<!-- <div id="script-warning">
								<code>获取笔记信息失败</code>
							</div>
							<div id="loading">加载中..</div> -->
							<div id="calendar"></div>
						</div>
						<!-- /col -->
						<div class="col-lg-5">
							<div class="panel">
								<div class="panel-heading">
									<button id="memo" type="button" class="btn notes memo_color">
										<i class="fa fa-calendar"> 备忘录 </i>
									</button>
									<button id="invest" type="button"
										class="btn notes invest_color">
										<i class="fa fa-money"> 投资 </i>
									</button>
									<button id="account" type="button"
										class="btn notes account_color">
										<i class="fa fa-book"> 记账 </i>
									</button>
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-bordered table-hover">
											<thead>
												<tr class="success">
													<th>#</th>
													<th>标题</th>
													<th width="15%">类型</th>
													<th>开始时间</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="o in obj.notes track by $index" ng-click="detail(o)">
													<td>{{$index+1}}</td>
													<td>{{o.title}}</td>
													<td>
														<span class="badge {{o.colorClassName}}">
															<i class="fa {{o.typeClassName}}"></i>
														</span>
													</td>
													<td>{{o.begin_date}}</td>
													<!-- <td>
														<button ng-click="edit($index)"
															class="btn btn-default btn-xs">
															<i class="fa fa-pencil"></i>
														</button>
														<button ng-click="remove($index)"
															class="btn btn-default btn-xs">
															<i class="fa fa-times"></i>
														</button>
													</td> -->
												</tr>
											</tbody>
										</table>
									</div>
									<!-- /.table-responsive -->
								</div>
								<!-- /.panel-body -->
							</div>
							<!-- /.panel -->
						</div>
						<!-- /col -->
					</div>
					<!-- /row -->
				</div>
				<!-- /panel-body -->
			</div>
			<!-- /panel -->
		</div>
		<!-- /col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->
{% endverbatim %} {% endblock %} {% block custom_js %}
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/fullcalendar.min.js"></script>
<script type="text/javascript" src="/static/js/lang-all.js"></script>
<script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script type="text/javascript" src="/static/js/notes.js"></script>
<script>
	var blogApp = angular.module("blogApp", [ 'ui.bootstrap' ]);

	blogApp.controller("noteController", function( $scope, $http, $document,  $uibModal) {
		$scope.obj = new Object();
		$scope.obj.notes = [];
		$scope.pageTitle = '速记';
		$scope.calendar = {};
		
		$scope.DicObj = { NoteTypeDic : [{"label" : "备忘录","value" : "1"},
					                      {"label" : "投资","value" : "2"},
					                      {"label" : "记账","value" : "3"} ],
					      InvestDirectionDic : [{"label" : "买入","value" : "1"},
					                      {"label" : "卖出","value" : "2"} ],
					      MoneyDirectDic : [{"label" : "收入","value" : "1"},
						                      {"label" : "支出","value" : "2"}],
					      CommodityTypeDic : [{"label" : "日用品","value" : "1"},
						                      {"label" : "餐饮","value" : "2"},
						                      {"label" : "水电煤","value" : "3"},
						                      {"label" : "人情","value" : "4"}],
						  PayTypeDic : [{"label" : "现金","value" : "1"},
						                {"label" : "信用卡","value" : "2"},						  
						                {"label" : "支付宝","value" : "3"},
						                {"label" : "实体消费券","value" : "4"},
						                {"label" : "电子消费券","value" : "5"}]					                      
		};
		
		$document.ready(function() {
			$scope.calendar = $('#calendar');

			$(".notes").click(function() {
				$(this).toggleClass(this.id + "_color");
				$scope.calendar.fullCalendar('refetchEvents');
			});

			$scope.calendar.fullCalendar({
						theme : true,
						header : {
							left : 'prev,next today',
							center : 'title',
							right : 'month,agendaWeek,agendaDay'
						},
						lang : 'zh-cn',
						selectable : true,
						selectHelper : true,
						select : function(start, end, jsEvent, view) {
							/*var title = prompt('Event Title:');
							if (title) {
								$scope.calendar.fullCalendar('renderEvent', {
									title : title,
									start : start,
									end : end,
									allDay : allDay
								}, false // true will make the event "stick"
								);
							}*/
							$scope.detail({ 'note_id' : '',
											'begin_date': start.format(),
											'end_date': end.format(),
											'is_all_day' : (end.hasTime() ? '0' : '1') 
										});
							$scope.calendar.fullCalendar('unselect');
						},
						editable : false, //close dragging function
						events : {
							url : '/get_notes/',
							type : 'GET',
							//data : paraData || [],
							data : getParamJson,
							error : function() {
								//$('#script-warning').show();
							}
						},
						loading : function(isLoading) {
							//$('#loading').toggle(bool);
							if (!isLoading) {
								//!!!
								$scope.$apply(function(){
									$scope.obj.notes = $scope.calendar.fullCalendar('clientEvents');	
								});
							}
						},
						eventRender : renderWithNotesType,
						eventClick : function(calEvent, jsEvent, view) {
							/*alert('Event: ' + calEvent.title);
							alert('NotesId: ' + calEvent.note_id);
							alert('Coordinates: ' + jsEvent.pageX + ','
									+ jsEvent.pageY);
							alert('View: ' + view.name);*/
							$scope.detail(calEvent);
						},
						viewRender : function(view, element) {
							//alert(view.start.format());
							//alert(view.end.format());	
							$scope.calendar.fullCalendar('refetchEvents');
						}
					});
		});

		$scope.detail = function(noteSel) {
			$scope.noteSel = noteSel;
			
			var openModalDialog = function(response){

				if($scope.noteSel.note_type && $scope.noteSel.note_type == '2'){
					$scope.noteSel.securities = response.data; 
	    		}
				
				if($scope.noteSel.note_type && $scope.noteSel.note_type == '3'){
	    			$scope.noteSel.accounts = response.data;
	    		}
				
				var modalInstance = $uibModal.open({
					animation : true,
					templateUrl : '/static/notes/note_detail_modal.html',
					controller : 'ModalInstanceCtrl',
					size : 'modal-lg',
					resolve : {
						noteSel : function(){
							return $scope.noteSel;
						},
						DicObj : function(){
							return $scope.DicObj;
						}
					}
				});
		
				modalInstance.result.then(
							function() {
								// codes go here when calling $uibModalInstance.close
								$scope.calendar.fullCalendar('refetchEvents');
							}, function() {
							// codes go here $uibModalInstance.dismiss
							})
						.then(function(){
							$scope.noteSel = {}; //reset selected note
						});
				
			};
			
			if(noteSel.note_id){
				if(noteSel.note_type == '1'){
					openModalDialog();
				}
				
				var url;
				if(noteSel.note_type == '2'){
					url = '/get_securities/';
				}else if(noteSel.note_type == '3'){
					url = '/get_accounts/';
				}	
				var params = {note_id : noteSel.note_id};
				$http.get(url, { params : params})
					.then(openModalDialog, function errorCallback(response) {});
			}else{
				openModalDialog();
			}
			
		};
		
	});
	// Please that $uibModalInstance represents a modal window (instance) dependency.
	// It is not the same as the $modal service used above.

	angular.module('ui.bootstrap').controller('ModalInstanceCtrl',
			function($scope, $http, $timeout, $uibModalInstance, noteSel, DicObj) {
				$scope.DicObj = DicObj;
				$scope.opType = (noteSel.note_id) ? 'detail' : 'add';
				$scope.noteSel  = noteSel;
				$scope.noteSel.note_type = noteSel.note_type || '1';
				$scope.noteSelInit = angular.copy(noteSel);  //deep copy in case reset
				$scope.noteSel.rowSel = {};
				$scope.retObj = {};  
				
				
				$scope.cacuTotal = function(){
					$scope.noteSel.total = $scope.noteSel.totalOut = $scope.noteSel.totalIn = 0;
					
					var selArr = ($scope.noteSel.note_type == '2') ? 
									$scope.noteSel.securities : $scope.noteSel.accounts;
					angular.forEach(selArr ,function(item){
						
						if(!isNaN(item.total_price)){
							var k;
							if(item.direction.value == '1'){
								if($scope.noteSel.note_type == '2'){
									$scope.noteSel.totalOut += (1*item.total_price);
									k = -1;
								}else{
									$scope.noteSel.totalIn += (1*item.total_price);
									k = 1;
								}
								$scope.noteSel.total += (1*item.total_price);			
							}else{
								if($scope.noteSel.note_type == '3'){
									$scope.noteSel.totalOut += (1*item.total_price);
									k = -1;
								}else{
									$scope.noteSel.totalIn += (1*item.total_price);
									k = 1;
								}
								$scope.noteSel.total += (k*item.total_price);
							}
						}
					});
				}
				
				var initModal = function(){
					if($scope.opType == 'add'){
						$scope.editClicked = true;
						$scope.noteSel.note_id = '';
						$scope.noteSel.note_title = $scope.noteSel.note_title || '';
						$scope.noteSel.remark = $scope.noteSel.remark || '';
					}else{
						$scope.editClicked = false;
						$scope.noteSel.totalOut = $scope.noteSel.totalIn = 0;
						if($scope.noteSel.note_type == '2'){
							$scope.noteSel.rowInfoShow = false;
							$scope.cacuTotal();
						}
						if($scope.noteSel.note_type == '3'){
							$scope.noteSel.rowInfoShow = false;
							$scope.cacuTotal();
						}
					}
					
					if($scope.noteSel.note_type == '2'){
						$scope.noteSel.typeClassName = 'fa-money';
						$scope.noteSel.colorClassName = 'invest_color';
					}else if($scope.noteSel.note_type == '3'){
						$scope.noteSel.typeClassName = 'fa-book';
						$scope.noteSel.colorClassName = 'account_color';
						$scope.noteSel.note_title = $scope.noteSel.note_title || '流水账'; //记账 默认标题 
					}else{
						$scope.noteSel.typeClassName = 'fa-calendar';
						$scope.noteSel.colorClassName = 'memo_color';
					}
				};  //first call

				initModal();
				
				$scope.changeNoteType = function(){
					if(!confirm("更改速记类型将清空内容，是否继续？")) return;
					var _nt = {note_type : $scope.noteSel.note_type};
					$scope.noteSel = angular.merge({},$scope.noteSelInit, _nt);
					initModal();
				}
				
				var successDDL = function(response){
					$scope.retObj = response.data;
					if($scope.retObj.retCode == "0"){
		    			$scope.retObj.className = 'bg-success';
		    		}else{
		    			$scope.retObj.className = 'bg-danger';
		    		}
					$timeout(function(){
							$uibModalInstance.close();
						}, 1500);
				}
				
				var failureDDL = function(response){
					$scope.retObj.retMsg = response.status + ":" + response.statusText;
					$scope.retObj.className = 'bg-danger';
					
				}

				$scope.remove = function() {
					//alert('note id to delete:' + $scope.obj.notes[idx].note_id);
					if(!window.confirm("确认删除?")){
						return; 
					};
					
					$('#delBtn').button('loading');	
					
					//var reqData = $scope.noteSel;
					var note_id = $scope.noteSel.note_id;
					$http.delete( '/delete_note/'+note_id)
						.then(successDDL, failureDDL)
							.then(function(){$('#delBtn').button('reset')});
				};
				
				$scope.ok = function() {
					var reqData = $scope.noteSel;
					if(!window.confirm("确认提交?")){
						return;
					}
					
					$('#okBtn').button('loading');
					$http.post( '/change_note/',reqData)
						.then(successDDL, failureDDL)
							.then(function(){$('#okBtn').button('reset')});
					
				};
				
				$scope.rowAdd = function(){
					$scope.noteSel.rowSel = {};
					if($scope.noteSel.note_type == '2'){
						if(!$scope.noteSel.securities){
							$scope.noteSel.securities = new Array();						
						}
						var len = $scope.noteSel.securities.length;
						$scope.noteSel.securities[len] = $scope.noteSel.rowSel;						
					}else if($scope.noteSel.note_type == '3'){
						if(!$scope.noteSel.accounts){
							$scope.noteSel.accounts = new Array();						
						}
						var len = $scope.noteSel.accounts.length;
						$scope.noteSel.accounts[len] = $scope.noteSel.rowSel;
					}
					$scope.noteSel.rowInfoShow = true;
				};
				
				
				/* $scope.secuConfirm = function(){
					
					if(isNaN($scope.noteSel.rowSel.unit_price) || isNaN($scope.noteSel.rowSel.quantity)){
						return;
					}
					
					$scope.noteSel.rowSel.total_price = $scope.noteSel.rowSel.unit_price * $scope.noteSel.rowSel.quantity;
					
					$scope.noteSel.securities.push(
						{
							"secu_name" : $scope.noteSel.rowSel.secu_name,
							"direction" : $scope.noteSel.rowSel.direction,  //object as {label:xxx,value:xxx}
							"unit_price" : $scope.noteSel.rowSel.unit_price,
							"quantity" : $scope.noteSel.rowSel.quantity,
							"total_price" : $scope.noteSel.rowSel.total_price
						}		
					);
					
					$scope.cacuTotal();
					
					$scope.noteSel.rowInfoShow = false;
					
				}; */

				$scope.cacuSecuSel = function(){
					
					if(isNaN($scope.noteSel.rowSel.unit_price) || isNaN($scope.noteSel.rowSel.quantity)){
						return;
					}
					
					$scope.noteSel.rowSel.total_price = $scope.noteSel.rowSel.unit_price * $scope.noteSel.rowSel.quantity;
					$scope.cacuTotal();
				}
				
				$scope.rowRemove = function(idx){
					//if(!$scope.noteSel.securities || $scope.noteSel.securities.length == 0) return;
					if($scope.noteSel.note_type == '2'){
						$scope.noteSel.securities.splice(idx,1);
					}else{
						$scope.noteSel.accounts.splice(idx,1);
					}
					$scope.cacuTotal();
				};
				
				$scope.accountRemove = function(idx){
					//if(!$scope.noteSel.securities || $scope.noteSel.securities.length == 0) return;
					$scope.noteSel.accounts.splice(idx,1);
					$scope.cacuTotal();
				};
				
				$scope.rowDetail = function(rowSel){
					//alert(angular.toJson(rowSel.direction));
					$scope.noteSel.rowSel = rowSel;
					$scope.noteSel.rowInfoShow = $scope.editClicked;
				};
				
				$scope.isShowSecu = function(){
					return $scope.noteSel.note_type == '2' && 
								$scope.noteSel.rowInfoShow && 
									$scope.editClicked;					
				}
				
				$scope.isShowAccount = function(){
					return $scope.noteSel.note_type == '3' && 
							$scope.noteSel.rowInfoShow && 
								$scope.editClicked;					
				}
				
				$scope.edit = function() {
					$scope.editClicked = true;
				};
				
				$scope.cancel = function(){
					$scope.editClicked = false;
				};
			});
</script>
<!-- /Calendar -->
{% endblock %}
