{% extends "blog_base.html" %}
{% block custom_style %}
<link href="/static/css/fullcalendar.css" rel="stylesheet">
<style>

	#scheduler {
		margin: 0;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 900px;
		margin: 40px auto;
		padding: 0 10px;
	}

</style>
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <h1 class="page-header">
                	投资日记
                <small>Secondary Text</small>
            </h1>

            <!-- /widget -->
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="glyphicon glyphicon-list-alt"></i>
                     <h3> Recent News</h3>
                </div>
                <!-- /widget-header -->
                <div id="scheduler" class="widget-content">
                    <div id="script-warning">	<code>获取日程信息失败</code>
                    </div>
                    <div id="loading">加载中，请稍后..</div>
                    <div id="calendar"></div>
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
		</div>  
		 <!-- /.row -->     
	</div>
    <!-- /.container -->
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/fullcalendar.js"></script>
<script type="text/javascript" src="/static/js/lang-all.js"></script>
<script>     

        $(document).ready(function() {
        //var date = new Date();
        //var d = date.getDate();
        //var m = date.getMonth();
        //var y = date.getFullYear();
        var calendar = $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          lang: 'zh-cn',
          selectable: true,
          selectHelper: true,
          select: function(start, end, allDay) {
            var title = prompt('Event Title:');
            if (title) {
              calendar.fullCalendar('renderEvent',
                {
                  title: title,
                  start: start,
                  end: end,
                  allDay: allDay
                },
                true // make the event "stick"
              );
            }
            calendar.fullCalendar('unselect');
          },
          editable: true,
          events: {
        	  url : '/get_sche_events',
        	  error : function() {
        		  $('#script-warning').show();
        	  }
          },
          loading: function(bool) {
			  $('#loading').toggle(bool);
		  }	  
        	  /*[
            {
              title: 'All Day Event',
              start: '2015-12-03'
            },
            {
              title: 'Long Event',
              start: new Date(y, m, d+5),
              end: new Date(y, m, d+7)
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: new Date(y, m, d-3, 16, 0),
              allDay: false
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: new Date(y, m, d+4, 16, 0),
              allDay: false
            },
            {
              title: 'Meeting',
              start: new Date(y, m, d, 10, 30),
              allDay: false
            },
            {
              title: 'Lunch',
              start: new Date(y, m, d, 12, 0),
              end: new Date(y, m, d, 14, 0),
              allDay: false
            },
            {
              title: 'Birthday Party',
              start: new Date(y, m, d+1, 19, 0),
              end: new Date(y, m, d+1, 22, 30),
              allDay: false
            },
            {
              title: 'EGrappler.com',
              start: new Date(y, m, 28),
              end: new Date(y, m, 29),
              url: 'http://EGrappler.com/'
            }
          ]*/
        });
      });
    </script><!-- /Calendar -->
{% endblock %}